.paper {
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),   
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15),
    -6px 0 10px -5px rgba(0,0,0,0.1),
     6px 0 10px -5px rgba(0,0,0,0.1); 
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3px;
    width: 600px;
    height: auto;
}
#todoList {
    height: 600px; ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3d3d3;
    padding-top: 20px;
    margin-bottom: 5px;

    
}
p{
    align-self: flex-start;
    color: grey;
    font-family: 'Agdasima';
    font-size: 15px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 1px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 80px; 
    color: #e0bfbf;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: 30px;
    
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #555;
    outline: none;
    padding: 10px 0;
}
li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #555;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}
li span {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  cursor: pointer;
  color: red;
  
}
li:hover span {
  visibility: visible;
  opacity: .25;
}
